# .env example
APP_NAME=orkestra
APP_VERSION=1.0.0
APP_ENV=development
LOG_LEVEL=warn

# Kubernetes
KUBEKONFIG=/home/alex_eze/.kube/config
NAMESPACE=default
WORKERS=3
DEFAULT_RESYNC=30       # Useful as default if not specified per CRD
DEFAULT_WORKERS=3       # Useful as default if not specified per CRD

# KAtalog
KATALOG_PATH=<path-to-katalog-or-komposer>  # override with --katalog

# Health server
PORT=8080

# Leader election
LEASE_DURATION=15
RENEW_DEADLINE=10
RETRY_PERIOD=3
