# .env example
APP_NAME=multi-crd-controller
APP_VERSION=1.0.0
APP_ENV=development
LOG_LEVEL=error
LOG_FORMAT=json

# Kubernetes
KUBECONFIG=${HOME}/.kube/config
NAMESPACE=default
WORKERS=3
DEFAULT_RESYNC=30
CRD_REGISTRY=crd/crd-registry.yaml
CRD_REGISTRY_MODE=Go


# Health server
PORT=8080

# Leader election
LEASE_DURATION=15
RENEW_DEADLINE=10
RETRY_PERIOD=3
