.env
extensions/
unknown/
_runtime_*/
example-crds/
ork
ork-amd64
orkcc-amd64
orkcc
orkestra
orkestra-demo
orkestra-action
ork.md
ork.yaml
reviews/
orkestra-certs/
coverage.out
coverage
# Docusaurus
website/node_modules
website/build
website/.docusaurus
website/.cache-loader

# Generated
zz_generated_rbac.yaml
*.tgz
rbac.yaml
bundle.yaml
configmap.yaml
DEPLOY.md
# Added by ork doctor init
.orkestra/bundle/
.orkestra/