# https://orkestra.sh/docs/reference/schema/e2e/
apiVersion: orkestra.orkspace.io/v1
kind: E2E
metadata:
  name: # TODO: operator name
  description: "End-to-end test for <operator>"
spec:
  katalog: ./katalog.yaml
  cr: ./cr.yaml
  # timeout: 120s
  expect:
    # TODO: add assertions
    # - resource: deployments
    #   name: "{{ .metadata.name }}"
    #   namespace: "{{ .metadata.namespace }}"
    #   present: true
    #   ready: true
