package test

import (
    "context"
    "testing"

    {{ .API.Alias }} "{{ .API.Import }}"
    "github.com/stretchr/testify/require"
)

func Test{{ .Kind }}Reconcile(t *testing.T) {
    obj := &{{ .API.Alias }}.{{ .API.Object }}{}
    ctx := context.Background()

    // TODO: initialize reconciler
    // rec := ...

    // TODO: call reconcile
    // err := rec.Reconcile(ctx, "default/example")
    // require.NoError(t, err)
}
